* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

section {
  width: 100%;
  padding: 2% 5%;
}

.header-container {
  min-height: 100%;
  background: url(./assets/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header {
  height: auto;
  width: 100%;
  position: relative;
}

.header-logo {
  display: inline-block;
  background: url(./assets/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 12.5rem;
  height: 2rem;
}

.header-button {
  position: absolute;
  top: -0.3rem;
  right: 0rem;
  width: 12.5rem;
  height: 3rem;
  border: none;
  border-radius: 1.5rem;
  background: #fff;
  box-shadow: 0px 0.18rem 0.68rem 0px rgba(0, 0, 0, 0.1);
  color: #00252e;
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.header-button:hover {
  color: #808e9a;
}

.header-content {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.header-textcontent {
  width: 40%;
  padding-top: 5rem;
}

.header-textcontent h1 {
  color: #00252e;
  font-family: Poppins;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.75rem;
  margin-bottom: 2rem;
}

.header-textcontent p {
  color: #00252e;
  font-family: Open Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.688rem;
  margin-bottom: 2rem;
}

.header-imagecontent {
  background: url(./assets/box.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 50%;
  height: 30rem;
}

.start-free-button {
  width: 17.5rem;
  height: 3.5rem;
  border: none;
  border-radius: 28px;
  background: #ff52c1;
  box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.17);
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.start-free-button:hover {
  background: #ff9adb;
}

.header-textcontent .start-free-button {
  margin-top: 2rem;
}

.features-container {
  padding: 5rem 7%;
}

.feature {
  border: none;
  display: flex;
  align-items: center;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.07);
  margin-top: 2.5rem;
  height: 27.5rem;
}

.feature-content {
  display: block;
  width: 50%;
  padding: 0 2% 0 10%;
}

.feature-content h3 {
  color: #00252e;
  font-family: Poppins;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.625rem;
}

.feature-content p {
  color: #808e9a;
  font-family: Open Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.688rem;
  margin-top: 1rem;
}

.feature-image {
  width: 50%;
  height: 20.75rem;
}

#feature1-image {
  background: url(./assets/grow-together.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

#feature2-image {
  background: url(./assets/flow-convo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

#feature3-image {
  background: url(./assets/users.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.community {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.07);
  padding: 5% 5%;
  width: 75%;
  margin-left: 12.5%;
  transform: translateY(10rem);
}

.community h2 {
  color: #00252e;
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.75rem;
}

#community-button {
  margin-top: 2rem;
  height: 5rem;
  width: 25rem;
  filter: drop-shadow(0px 6px 13px rgba(0, 37, 46, 0.22));
}

.footer {
  background-color: #00252e;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 7.5rem 5% 3rem 7%;
}

.footer p {
  color: #fff;
  font-family: Open Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  margin-left: 1rem;
}

.footer-contacts {
  width: 33%;
  display: flex;
  flex-direction: column;
}

.footer-logo {
  background: url(./assets/white-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  width: 9.5rem;
  height: 6.5rem;
}

.footer-location {
  display: flex;
  align-items: flex-start;
  margin-top: -2.5rem;
  z-index: 1;
}

.contact-number {
  display: flex;
  margin-top: 1.5rem;
}

.contact-email {
  display: flex;
  margin-top: 1rem;
}

.navigation-links {
  width: 35%;
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}

.navigation-links li {
  margin-bottom: 1rem;
  color: #fff;
  font-family: Open Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.688rem;
}

.navigation-links a:hover {
  text-decoration: underline;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-socialmedia {
  display: flex;
  margin-top: 4rem;
  align-items: flex-start;
}

.footer-socialmedia li:not(:last-child) {
  margin-right: 1rem;
}

.footer-socials p {
  margin-left: 0rem;
}

.footer-socialmedia svg:hover path {
  fill: #ff52c1;
}

@media (max-width: 1024px) {
  .header-content {
    padding-top: 0rem;
    margin-bottom: 0rem;
  }

  .header-textcontent {
    padding-top: 3rem;
  }
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
  }

  .header-textcontent {
    width: 100%;
    text-align: center;
  }

  .header-imagecontent {
    width: 100%;
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  section {
    padding: 2% 7%;
  }

  .header-logo {
    width: 6.5rem;
    height: 1rem;
  }

  .header-button {
    width: 6rem;
    border-radius: 0.75rem;
    height: 1.5rem;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .header-textcontent h1 {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  .header-textcontent p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .start-free-button {
    width: 15rem;
    height: 2.5rem;
    font-size: 0.75rem;
  }

  .header-imagecontent {
    margin-top: 2rem;
    background-position: top center;
    height: 16rem;
  }

  .feature {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 3rem;
    height: auto;
  }

  .feature1 {
    margin-top: 0;
  }

  .feature-content {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    padding: 0;
  }

  .feature-content h3 {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }

  .feature-content p {
    font-size: 0.875rem;
    line-height: 1.313rem;
  }

  .feature-image {
    width: 100%;
    height: 15rem;
  }

  .feature2 {
    flex-direction: column;
  }

  .community {
    height: 11rem;
    margin-left: 0;
    width: auto;
    justify-content: center;
    padding: 0;
  }

  .community h2 {
    font-size: 1.125rem;
    line-height: 1.875rem;
  }

  #community-button {
    width: 12.5rem;
    height: 2.5rem;
    font-size: 0.625rem;
    line-height: 1rem;
  }

  .footer {
    flex-direction: column;
  }

  .footer-contacts {
    width: 100%;
  }

  .navigation-links {
    margin-top: 2rem;
    width: 100%;
    flex-direction: column;
  }

  .footer-socials {
    width: 100%;
    align-items: center;
  }

  .footer-socialmedia {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .footer-socials p {
    font-size: 0.7rem;
    line-height: normal;
  }
}
